.cart__hidden {
    display: none;
}

.cart {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart__body {
    display: block;
    position: relative;
    margin: 10% auto calc(10% + 80px);
    min-width: 320px;
    width: 100%;
    background-color: var(--cart-background-color);
    color: var(--cart-text-color);
}

.cart__header {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 15px;
    background-color: var(--cart-header-background-color);
}

.cart__header-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 12px;
    cursor: pointer;
    z-index: 3;
}

.order__column-product {
    position: relative;
    margin: 8px 0 16px;
}

.order__column-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    max-width: 100%;
}

.order__column-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.order__column-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.order__column-counter {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn-sm {
    height: 35px;
    width: 25px;
}

.col__quantity-2 {
    height: 35px;
    width: 25px;
    margin: 5px;
    text-align: center;
}

.col-6 {
    position: relative;
    width: 46px;
    height: 46px;
}

.col-3,
.col-5 {
    text-align: end;
    padding-right: 5%;
}


.modal-dialog {
    padding: 24px 0;
    font-family: var(--font-p);
}

.modal-content {
    padding: 0 24px;
}

.modal-body {
    padding: 0 15px;
}

.modal-footer {
    margin: 50px 0 0;
}

.form-contacts {
    margin: 24px 0;
}

.modal__button-footer {
    display: flex;
    justify-content: center;
}

.cart__buyer-details-sub {
    margin: 16px 0 24px;
}

.cart__buyer-details-subhead {
    margin: 0 0 4px;
}

.cart__buyer-details-input,
.cart__buyer-details-text {
    display: block;
    background-color: var(--cart-buyers-background-color);
    font-family: var(--font-p);
    color: var(--cart-buyers-input-color);
    width: 100%;
    margin: 12px 0 0;
    padding: 16px 25px;
    border-radius: 2px;
    border: 0;
    font-size: 15px;
}

.cart__buyer-details-text {
    top: 5px;
    left: 5px;
    min-height: 114px;
    overflow-y: auto;
    text-align: left;
    justify-content: start;

}

.cart__buyer-details-text::placeholder {
    top: 5px;
    left: 5px;
    pointer-events: none;
    text-align: start;
}

.cart__buyer-details-text:focus::placeholder,
.cart__buyer-details-text:not(:placeholder-shown)::placeholder {
    top: -10px;
    left: -5px;
    font-size: 12px;
}

.cart__buyer-required-star {
    color: var(--cart-buyers-required-star);
}

.btn-primary {
    border: none;
}

@media (min-width: 481px) {
    .cart__body {
        width: 470px;
    }
}

@media (min-width: 1100px) {
    .cart__body {
        width: 570px;
    }
}


/*.cart {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





.cart__header-close {
    position: relative;
    width: 24px;
    height: 24px;
    top: -5px;
    height: 16px;
    width: auto;
}


.order__column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}